.line-container {
  width: 95vw;
  height: 50px;
  margin: 0;
  padding: 0;
  
  display: flex;
  flex-direction: row;
}

.line-div {
  width: 90vw;
  font-size: min(28px, 1.8vw);
  font-weight: 100;
  line-height: 50px;
  
  box-sizing: border-box;
  border: 0;
  
  white-space: nowrap;
  overflow-x: hidden;
}

.line-state {
  width: 5vw;
  height: 50px;
  margin: 0;
  padding: 0;
  font-size: min(28px, 2.1vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hilite {
  background-color: bisque;
}

#text-container-id {
  height: 100%;
  overflow-y: scroll;
  
  white-space: nowrap;
  overflow-x: scroll;
}

#text-panel-id {
  margin: 0;
  padding: 0;
  
  width: 95vw;
  height: 46vh;
  
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: lightskyblue;
  border-width: 4px;
  border-color: black;
  }
